<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="donationMapper">
	<select id="getDonListCount" resultType="_int">
		select count(*)
		from board
		where board_type='Don' and board_status='Y'
	</select>
	
	<insert id="insertDonBoard">
		insert all
		into board 
		values(SEQ_BID.NEXTVAL, #{boardType}, #{refMemberUsername}, #{refCategoryId}, #{boardTitle}, #{boardContent}, sysdate, sysdate, #{boardDeadline}, default, default) 
		into fundraising
		values(SEQ_BID.CURRVAL, #{fundraisingGoalPrice}, default)
		into manager
		values(SEQ_BID.CURRVAL, #{managerName}, #{managerPhone})
		select * from dual
	</insert>
	
	<select id="selectDonList" resultMap="DonBoardResultSet">
		select *
		from board
			join member on(ref_member_username = member_username)
		where board_type='Don' and board_status='Y'
		<if test="cate != 0">
			and ref_category_id=#{cate}
		</if>
		<if test="search != null">
			and board_title like '%'||#{search}||'%'
		</if>
		order by board_id desc
	</select>
	
	<resultMap type="DonBoard" id="DonBoardResultSet">
		<id column="board_id" property="boardId"/>
		<result column="board_type" property="boardType"/>
		<result column="ref_member_username" property="refMemberUsername"/>
		<result column="ref_category_id" property="refCategoryId"/>
		<result column="board_title" property="boardTitle"/>
		<result column="board_content" property="boardContent"/>
		<result column="board_create_date" property="boardCreateDate"/>
		<result column="board_modify_date" property="boardModifyDate"/>
		<result column="board_deadline" property="boardDeadline"/>
		<result column="board_status" property="boardStatus"/>
		<result column="manager_name" property="managerName"/>
		<result column="manager_phone" property="managerPhone"/>
		<result column="FUNDRAISING_GOAL_PRICE" property="fundraisingGoalPrice"/>
		<result column="FUNDRAISING_CURRENT_PRICE" property="fundraisingCurrentPrice"/>
		<result column="category_name" property="categoryName"/>
		<result column="member_nickname" property="memberNickname"/>
		<result column="board_count" property="boardCount"/>
	</resultMap>
	
	<insert id="insertAttm">
		insert all
		<foreach collection="list" item="a">
			into attachment
			values(new_aid, #{a.fileType}, sysdate, #{a.originalName}, #{a.renameName}, #{a.fileLink}, #{a.level}, default)
			into image
			values(
			<if test="bId == 0">
				seq_bid.currval,
			</if>
			<if test="bId > 0">
				#{bId},
			</if>
			CUR_AID)
		</foreach>
		select * from dual
	</insert>
	
	<!-- <insert id="insertImg">
		insert into image
		values(
		<if test="i == 0">
			seq_bid.currval,
		</if>
		<if test="i > 0">
			#{i},
		</if>
		seq_aid.currval)
	</insert> -->
	
	<select id="selectAttmList" resultMap="AttmResultSet">
		select *
		from attachment
			join image using(attm_id)
		where file_type='Don' and file_status='Y' and attm_level=0
	</select>
	
	<resultMap type="Attachment" id="AttmResultSet">
		<id column="attm_id" property="attmId"/>
		<result column="board_id" property="boardId"/>
		<result column="file_type" property="fileType"/>
		<result column="create_date" property="createDate"/>
		<result column="original_name" property="originalName"/>
		<result column="rename_name" property="renameName"/>
		<result column="file_link" property="fileLink"/>
		<result column="attm_level" property="level"/>
		<result column="file_status" property="fileStatus"/>
	</resultMap>
	
	<select id="selectDonBoard" resultMap="DonBoardResultSet">
		select *
		from board
			join fundraising on(board_id = fundraising.ref_board_id)
			join member on(ref_member_username = member_username)
			join manager on(board_id = manager.ref_board_id)
			join category on(ref_category_id = category_id)
		where board_id=#{bId} and board_status='Y'
	</select>
	
	<select id="selectDonAttm" resultMap="AttmResultSet">
		select *
		from attachment
			join image using(attm_id)
		where board_id=#{bId} and file_status='Y'
	</select>
	
	<select id="cheer" resultMap="CheerResultMap">
		select *
		from cheer
		where ref_board_id=#{boardId} and ref_member_username=#{memberUserName}
	</select>
	
	<insert id="cheerUp">
		insert into cheer
		values(#{boardId}, #{memberUserName})
	</insert>
	
	<delete id="cheerCancle">
		delete cheer
		where ref_board_id=#{boardId} and ref_member_username=#{memberUserName}
	</delete>
	
	<resultMap type="Cheer" id="CheerResultMap">
		<id column="ref_board_id" property="boardId"/>
		<result column="ref_member_username" property="memberUserName"/>
	</resultMap>
	
	<update id="donBoardCount">
		update board
		set board_count = board_count+1
		where board_id=#{bId}
	</update>
	
	<insert id="breakdownDon">
		insert into donation
		values(seq_did.nextval, #{donationPrice}, sysdate, #{refBoardId}, #{refMemberUsername})
	</insert>
	
	<update id="roseDonation">
		update member
		set member_rose=#{memberRose}
		where member_username=#{memberUsername}
	</update>
	
	<update id="fundraisingUpdate">
		update fundraising
		set fundraising_current_price=fundraising_current_price+#{fundraisingCurrentPrice}
		where ref_board_id=#{boardId}
	</update>
	
	<insert id="replyInsert">
		insert into reply
		values(seq_rid.nextval, #{replyContent}, sysdate, sysdate, #{refMemberUsername}, #{refBoardId}, default)
	</insert>
	
	<select id="selectReply" resultMap="replyResultSet">
		select *
		from reply r
			join board b on(board_id = r.ref_board_id)
			join member m on(member_username = r.ref_member_username)
		where board_id=#{refBoardId}
		order by reply_id desc
	</select>
	
	<resultMap type="Reply" id="replyResultSet">
		<id column="REPLY_ID" property="replyId"/>
		<result column="REPLY_CONTENT" property="replyContent"/>
		<result column="REPLY_MODIFY_DATE" property="replyModifyDate"/>
		<result column="REPLY_CREATE_DATE" property="replyCreateDate"/>
		<result column="REF_MEMBER_USERNAME" property="refMemberUsername"/>
		<result column="REF_BOARD_ID" property="refBoardId"/>
		<result column="REPLY_STATUS" property="replyStatus"/>
		<result column="member_nickname" property="nickName"/>
	</resultMap>
	
	<update id="deleteDonBoard">
		update board
		set board_status='N'
		where board_id=#{bId}
	</update>
	
	<delete id="deleteAttm">
		delete from attachment
		where rename_name in
		<foreach collection="list" open="(" close=")" separator="," item="item">
			#{item}
		</foreach>
	</delete>
	
	<update id="updateAttmLevel">
		update attachment
		set attm_level = 0
		where attm_id = (select min(attm_id)
							from attachment
								join image using(attm_id)
							where board_id = #{boardId})
	</update>
	
	<delete id="deleteImg">
		delete from image
		where board_id=#{boardId} and attm_id=#{attmId}
	</delete>
	
	<update id="updateDonBoard">
		update board
		set ref_category_id=#{refCategoryId}, board_title=#{boardTitle}, board_content=#{boardContent}, board_modify_date=sysdate, board_deadline=#{boardDeadline}
		where board_id=#{boardId}
	</update>
	
	<update id="deleteAttmStatus">
		update (select file_status
				from attachment
					join image using(attm_id)
				where board_id=#{bId})
		set file_status='N' 
	</update>
	
	<select id="selectCurrRose" resultType="_int">
		select member_rose
		from member
		where member_username=#{id}
	</select>
	
	<resultMap type="Member" id="memberResultMap">
		<id column="MEMBER_USERNAME" property="memberUsername"/>
		<result column="MEMBER_PWD" property="memberPwd"/>
		<result column="MEMBER_NICKNAME" property="memberNickname"/>
		<result column="MEMBER_NAME" property="memberName"/>
		<result column="MEMBER_PHONE" property="memberPhone"/>
		<result column="MEMBER_EMAIL" property="memberEmail"/>
		<result column="MEMBER_ADDRESS" property="memberAddress"/>
		<result column="MEMBER_ROSE" property="memberRose"/>
		<result column="MEMBER_ENROLL_DATE" property="memberEnrollDate"/>
		<result column="MEMBER_MODIFY_DATE" property="memberModifyDate"/>
		<result column="MEMBER_RIGHT" property="memberRight"/>
		<result column="MEMBER_STATUS" property="memberStatus"/>
	</resultMap>
	
</mapper>