<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="volMapper">
	<insert id="insertVolBoard">
		insert all
		into board
		values(SEQ_BID.nextval, #{boardType}, #{refMemberUsername}, #{refCategoryId}, #{boardTitle}, #{boardContent}, sysdate, sysdate, #{boardDeadline}, default, default)
		into volunteer
		values(SEQ_BID.currval,#{volunteerGoalPeople}, #{volunteerLocation}, #{volunteerDate})
		into manager
		values(seq_bid.currval, #{managerName}, #{managerPhone})
		select * from dual
	</insert>
	
	<insert id="insertAttm">
		insert into attachment
		values(seq_aid.nextval, #{fileType}, sysdate, #{originalName}, #{renameName}, #{fileLink}, #{level}, default)
	</insert>
	
	<insert id="insertImg">
		insert into image
		values(
		<if test="i == 0">
			seq_bid.currval,
		</if>
		<if test="i > 0">
			#{i},
		</if>
		
		seq_aid.currval)
	</insert>
	
	<select id="getVListCount" resultType="_int">
		select count(*)
		from BOARD
		where BOARD_TYPE = 'Vol' and BOARD_STATUS = 'Y'
	</select>
	
	<select id="selectVolBoardList" parameterType="hashmap" resultMap="volBoardResultSet">
		select *
		from BOARD
			join member on(REF_MEMBER_USERNAME = MEMBER_USERNAME)
		where BOARD_TYPE = 'Vol' and BOARD_STATUS = 'Y'

		<if test="category > 0">
			and REF_CATEGORY_ID = #{category}
		</if>

		<if test="search != null">
			and BOARD_TITLE LIKE '%'||#{search}||'%'
		</if>
		
		order by BOARD_ID desc
	</select>
	
	<resultMap type="VolBoard" id="volBoardResultSet">
		<id property="boardId" column="BOARD_ID"/>
		<result property="boardType" column="BOARD_TYPE"/>
		<result property="refMemberUsername" column="REF_MEMBER_USERNAME"/>
		<result property="refCategoryId" column="REF_CATEGORY_ID"/>
		<result property="boardTitle" column="BOARD_TITLE"/>
		<result property="boardContent" column="BOARD_CONTENT"/>
		<result property="boardCreateDate" column="BOARD_CREATE_DATE"/>
		<result property="boardModifyDate" column="BOARD_MODIFY_DATE"/>
		<result property="boardDeadline" column="BOARD_DEADLINE"/>
		<result property="boardStatus" column="BOARD_STATUS"/>
		<result property="boardCount" column="BOARD_COUNT"/>
		<result property="volunteerGoalPeople" column="VOLUNTEER_GOAL_PEOPLE"/>
		<result property="volunteerLocation" column="VOLUNTEER_LOCATION"/>
		<result property="volunteerDate" column="VOLUNTEER_DATE"/>
		<result property="managerName" column="MANAGER_NAME"/>
		<result property="managerPhone" column="MANAGER_PHONE"/>
		<result property="memberNickname" column="MEMBER_NICKNAME"/>
		<result property="categoryName" column="CATEGORY_NAME"/>
	</resultMap>
	
	<select id="selectAttmList" resultMap="attachmentResultSet">
		select *
		from attachment
			join image using(attm_id)
		where file_type = 'Vol' and file_status = 'Y' and ATTM_LEVEL = 0
	</select>
	
	<resultMap type="Attachment" id="attachmentResultSet">
		<id property="attmId" column="ATTM_ID"/>
		<result property="boardId" column="BOARD_ID"/>
		<result property="fileType" column="FILE_TYPE"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="originalName" column="ORIGINAL_NAME"/>
		<result property="renameName" column="RENAME_NAME"/>
		<result property="fileLink" column="FILE_LINK"/>
		<result property="level" column="ATTM_LEVEL"/>
		<result property="fileStatus" column="FILE_STATUS"/>
	</resultMap>
	
	<update id="volBoardCount">
		update board
		set board_count = board_count + 1
		where board_id = #{bId}
	</update>
	
	<select id="selectBoard" resultMap="volBoardResultSet">
		select *
		from board
			join member on(REF_MEMBER_USERNAME = MEMBER_USERNAME)
			join volunteer on(BOARD_ID = VOLUNTEER.REF_BOARD_ID)
			join manager on(BOARD_ID = MANAGER.REF_BOARD_ID)
			join category on(REF_CATEGORY_ID = CATEGORY_ID)
		where BOARD_ID = #{bId} and BOARD_STATUS = 'Y'
	</select>
	
	<select id="selectAttm" resultMap="attachmentResultSet">
		select *
		from Attachment
			join image using(attm_id)
		where board_id = #{bId} and file_status = 'Y'
	</select>
	
	<resultMap type="Cheer" id="cheerResultSet">
		<id property="boardId" column="REF_BOARD_ID"/>
		<id property="memberUserName" column="REF_MEMBER_USERNAME"/>
	</resultMap>
	
	<select id="selectCheer" resultMap="cheerResultSet">
		select *
		from cheer
		where REF_BOARD_ID = #{boardId} and REF_MEMBER_USERNAME = #{memberUserName}
	</select>
	
	<insert id="cheerBoard">
		insert into cheer
		values(#{boardId}, #{memberUserName})
	</insert>
	
	<delete id="cheerCancle">
		delete cheer
		where REF_BOARD_ID = #{boardId} and REF_MEMBER_USERNAME = #{memberUserName}
	</delete>
	
	<update id="updateBoard">
		update board
		set REF_CATEGORY_ID = #{refCategoryId}, BOARD_TITLE = #{boardTitle}, BOARD_CONTENT = #{boardContent}, BOARD_MODIFY_DATE = sysdate, BOARD_DEADLINE = #{boardDeadline}
		where BOARD_ID = #{boardId}
	</update>
	
	<update id="updateVolunteer">
		update VOLUNTEER
		set VOLUNTEER_GOAL_PEOPLE = #{volunteerGoalPeople}, VOLUNTEER_LOCATION = #{volunteerLocation}, VOLUNTEER_DATE = #{volunteerDate}
		where REF_BOARD_ID = #{boardId}
	</update>
	
	<update id="updateManager">
		update MANAGER
		set MANAGER_NAME = #{managerName}, MANAGER_PHONE = #{managerPhone}
		where REF_BOARD_ID = #{boardId}
	</update>
	
	<delete id="deleteAttm">
		delete from attachment
		where rename_name in
		<foreach collection="list" open="(" close=")" separator="," item="item">
			#{item}
		</foreach>
	</delete>
	
	<update id="updateAttmLevel">
		update attachment
		set attm_level = 0
		where attm_id = (select min(attm_id)
						 from attachment
						 	join image using(attm_id)
						 where board_id = #{boardId})
	</update>
	
	<delete id="deleteImage">
		delete from image
		where BOARD_ID = #{ boardId } and attm_id = #{ attmId }
	</delete>
	
	<update id="deleteBoard">
		update board
		set BOARD_STATUS = 'N'
		where BOARD_ID = #{bId}
	</update>
	
	<update id="deleteAttmStatus">
		update (select FILE_STATUS
				from attachment
					join image using(attm_id)
				where board_id = #{bId})
		set FILE_STATUS = 'N'
	</update>
	
	<resultMap type="Application" id="ApplicationResultSet">
		<id property="apllicationId" column="APPLICATION_ID"/>
		<result property="boardId" column="REF_BOARD_ID"/>
		<result property="MemberUserName" column="REF_MEMBER_USERNAME"/>
		<result property="application" column="APPLICATION_DATE"/>
	</resultMap>
	
	<select id="selectApp" resultMap="ApplicationResultSet">
		select *
		from application
		where REF_BOARD_ID = #{bId}
	</select>
	
	<insert id="applicationVol">
		insert into application
		values(seq_apid.nextval, #{boardId}, #{MemberUserName}, sysdate)
	</insert>
	
	<delete id="applicationVolCancle">
		delete application
		where REF_BOARD_ID = #{boardId} and REF_MEMBER_USERNAME = #{MemberUserName}
	</delete>
	
	<insert id="inquiryVol">
		insert into message
		values(seq_mid.nextval, #{refBoardId}, sysdate, #{messageTitle}, #{messageContent}, default, default, #{senderUsername}, #{receiverUsername})
	</insert>
</mapper>